
*{
  margin: 0;
  padding: 0;
}

.padre {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  
}

.app {
  height: 100vh;
  width: 200px;
  display: flex;
  background-color: rgb(15, 173, 121);
}